* {
    margin: 0;
    padding: 0;
    
}
/* 这是css3媒体查询 */
@media screen and (max-width: 1200px) {
    .top {
        width: 960px !important;
    }
}
/* top样式 */
.topbox {
    width: 100%;
    display: flex;
    justify-content: center;
    
    font-size: 14px;
}
.top {
    width: 1190px;
    
}
.top1 {
    background:rgb(248,248,248);
    height: 50px;
    display: flex;
    justify-content: space-between; 
}
.leftbox {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-around;
}
.rightbox {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-around;
}
.rightbox div :hover {
    color: #FE8C00;
}
.leftboximg {
    width: 15px;
    height: 15px;
}
.rightnow{
    color: #FE8C00;
}
/* nav部分 */
.nav1 {
    width: 100%;
    display: flex;
    align-items: center;
    height: 157px;
}